:root {
  --primary-color: #ffe863;
  --secondary-color: #373737;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 96px !important;
  font-family: "Playfair Display", serif;
  margin-top: 30px !important;
}
h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
}

p {
  font-size: 18px !important;
}

.navigation {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  text-transform: capitalize;
}

.hero {
  padding: 160px 10px;
  background-color: #fbe980;
}

.content-break {
  height: 100px;
  background-image: linear-gradient(180deg, #fbe980, rgb(255, 255, 255));
}

.fill-div {
  height: 50px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  border-radius: 4px;
  margin: 20px;
  text-decoration: none;
  border: 0;
  padding: 20px 15px;
}
.primary-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-link {
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 20px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 20px 15px;
}

.secondary-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.homepage-link {
  display: block;
  color: var(--primary-color);
  text-align: center;
}

.about-paragraphs {
  margin: 30px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.soMe {
  background-color: #373737;
  color: var(--primary-color);
  padding: 15px;
  margin-bottom: 30px;
}

.soMe h3 {
  opacity: 1;
  padding: 15px;
}

.soMe ul {
  list-style: none;
  padding-left: 0px;
}

.soMe ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soMe p a {
  color: #fbe980;
  font-size: 30px;
}

i {
  font-size: 48px;
  color: var(--primary-color);
}
@media (max-width: 576px) {
  h1 {
    font-size: 55px !important;
  }
  h2 {
    font-size: 40px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  .btn-primary {
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
  }
  img {
    margin-top: 0px !important;
  }
}

@media (max-width: 576px) {
  img {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) {
  .btn-primary {
    background: var(--primary-color) !important;
    box-shadow: var(--box-shadow) !important;
    color: var(--secondary-color) !important;
    border-radius: 4px !important;
    margin: 20px !important;
    text-decoration: none !important;
    padding: 20px 15px !important;
    border-color: #6c63ff !important;
  }
  .about-paragraphs {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .about-paragraphs {
    max-width: 60%;
    margin-bottom: 50px;
  }
  img {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .about-paragraphs {
    max-width: 60%;
    margin-bottom: 50px;
    margin-top: 15px !important;
  }
  .homepage-project {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .homepage-project img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .text-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 95%;
    z-index: 2;
    justify-content: center;
  }

  .homepage-project:hover .text-overlay {
    display: flex;
    background-color: #fbe88077;
    border-radius: 10px;
    font-size: 25px !important;
  }
  .homepage-project a {
    color: #000;
  }
  a:hover {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 992px) {
  .about-paragraphs {
    max-width: 60%;
    margin-bottom: 50px;
    margin-top: 110px !important;
  }
}
